
@media all {
	.column {
		width: 270px;
		background: #e2e4e6;
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		max-height: 100%;
		margin: 10px;
		padding: 0;
		flex-shrink: 0;
	}
	.column._dragging {
		opacity: .8;
	}
	.column-header {
		padding: 10px 10px 5px;
	}
	.add-task-link {
		margin: 0 -10px;
		padding: 2px 14px;
		display: block;
	}
		.add-task-link:hover {
			background: rgba(0,0,0,.15);
			text-decoration: none;
		}

	.column-cards {

	}
	.card-list {

	}
	.column-title {
		font-weight: 600;
		width: 100%;
		padding: 5px;
		border: none;
		background: transparent;
	}
	.column-title:focus {
		background-color: #fff;
	}
	.column-footer {
		padding: 0 10px;
	}
}