
@media all {
	.card-container {
		padding: 5px 0;
	}

	.card {
		padding: 10px;
		cursor: pointer;
	}
	.card-inner {

	}
	.card-container._dragging .card {
		opacity: .8;
		background-color: rgb(213, 236, 249);
	}
	.card + .card {
		margin-top: 10px;
	}
	.card-title {
		margin: 0;
	}
}